n8n-daily-reminder.json
{
  "name": "PM 每日工單提醒",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * *"
            }
          ]
        }
      },
      "id": "3f1a2b4c-5d6e-7f8a-9b0c-1d2e3f4a5b6c",
      "name": "每天 06:00 觸發",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://ec-service.asus.com/jira/rest/api/2/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer NjUxODQwNjI2ODk2OrqhVTvcpKht48h6lUgd1TQ0E2n+"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "jql",
              "value": "project = \"10602\" AND issuetype = Requirement AND status in (\"In Progress\", Testing, Planning, \"Requirement Check\") AND resolution = Unresolved AND \"MCC#\" = MCC2 AND \"Website System\" = EC ORDER BY updated DESC"
            },
            {
              "name": "fields",
              "value": "summary,duedate,reporter,status,subtasks,customfield_12107,customfield_12109"
            },
            {
              "name": "maxResults",
              "value": "100"
            }
          ]
        }
      },
      "id": "4a5b6c7d-8e9f-0a1b-2c3d-4e5f6a7b8c9d",
      "name": "查詢 Jira 工單",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ─── 設定（上線後把 TEST_MODE 改成 false）───────────────────\nconst TEST_MODE  = true;\nconst TEST_EMAIL = 'Vera_Chang@asus.com';\nconst JIRA_BROWSE = 'https://ec-service.asus.com/jira/browse/';\nconst FONT = `'Microsoft JhengHei','微軟正黑體',Helvetica,Arial,sans-serif`;\n\n// ─── 取得工單 ─────────────────────────────────────────────\nconst issues = $input.first().json.issues || [];\n\n// ─── 日期工具 ─────────────────────────────────────────────\nfunction parseDate(val) {\n  if (!val) return null;\n  return new Date(String(val).substring(0, 10));\n}\nfunction daysUntil(date) {\n  const today = new Date(); today.setHours(0,0,0,0);\n  const d = new Date(date); d.setHours(0,0,0,0);\n  return Math.round((d - today) / 864e5);\n}\n\n// ─── 建立提醒對照表 ───────────────────────────────────────\nfunction buildAlertMap(issues) {\n  const map = {};\n  for (const { key, fields } of issues) {\n    const { summary, duedate, reporter, subtasks = [],\n      customfield_12107: saDue, customfield_12109: uatDue } = fields;\n    if (!reporter?.emailAddress) continue;\n    const email = reporter.emailAddress;\n    if (!map[email]) map[email] = { name: reporter.displayName, alerts: [] };\n    const push = (type, fieldName, date, daysLeft, extra = {}) =>\n      map[email].alerts.push({ key, summary, type, fieldName, date, daysLeft, ...extra });\n    if (saDue) {\n      const d = parseDate(saDue), days = daysUntil(d);\n      if (days >= 0 && days <= 2) push('upcoming', 'SA_Due', d, days);\n    }\n    if (uatDue) {\n      const d = parseDate(uatDue), days = daysUntil(d);\n      if (days >= 0 && days <= 2) push('upcoming', 'UAT_Due', d, days);\n    }\n    if (duedate) {\n      const d = parseDate(duedate), days = daysUntil(d);\n      if (days >= 0 && days <= 2) {\n        push('upcoming', 'Due 上線日', d, days);\n      } else if (days < 0) {\n        const openSubs = subtasks.filter(st => st.fields?.status?.statusCategory?.key !== 'done');\n        push('overdue', 'Due 上線日', d, days, { openSubs });\n      }\n    }\n  }\n  return map;\n}\n\n// ─── 組 HTML Email ────────────────────────────────────────\nfunction buildHtml(displayName, alerts, dateStr) {\n  const firstName = displayName.split('(')[0].trim();\n  const overdue  = alerts.filter(a => a.type === 'overdue');\n  const upcoming = alerts.filter(a => a.type === 'upcoming');\n  const C = {\n    outerBg:'#F0EEE9', headerBg:'#7A6352', bodyBg:'#FFFFFF',\n    border:'#DDD9D3', text1:'#2D2D2D', text2:'#737068', text3:'#ABA89F',\n    keyColor:'#2D2D2D', red:'#8B3030', redBg:'#F8EFEE', redBorder:'#D4AFAC',\n    amber:'#7A5C1A', amberBg:'#F8F5E8', amberBorder:'#D4C58A', subBg:'#F0EEE9',\n  };\n  const fmtDate = d => new Date(d).toLocaleDateString('zh-TW', { year:'numeric', month:'2-digit', day:'2-digit' });\n  const suggestion = {\n    'SA_Due':     '請確認 SA 文件進度，確保如期完成系統分析。',\n    'UAT_Due':    '請協調 UAT 測試資源，確保如期完成驗收測試。',\n    'Due 上線日': '上線日即將到來，請確認所有工項均已就緒。',\n  };\n  const overdueMsg = '已超過上線日，請立即確認現況並更新工單進度。';\n\n  const renderCard = (a, isFirst) => {\n    const isOD   = a.type === 'overdue';\n    const barClr = isOD ? C.red   : C.amber;\n    const tagClr = isOD ? C.red   : C.amber;\n    const tagBdr = isOD ? C.redBorder : C.amberBorder;\n    const tagTxt = isOD ? `逾期 ${Math.abs(a.daysLeft)} 天` : (a.daysLeft === 0 ? '今天到期' : `還有 ${a.daysLeft} 天`);\n    const hint   = isOD ? overdueMsg : (suggestion[a.fieldName] || '');\n    const topBdr = isFirst ? '' : `border-top:1px solid ${C.border};`;\n    const subHtml = (a.openSubs || []).length > 0\n      ? `<table width='100%' cellpadding='0' cellspacing='0' style='margin-top:8px'><tr><td bgcolor='${C.subBg}' style='background-color:${C.subBg};padding:7px 10px;font-size:12px;color:${C.text2};line-height:1.8;font-family:${FONT}'>未關閉 sub-task：${a.openSubs.map(st => `<a href='${JIRA_BROWSE}${st.key}' style='color:${C.keyColor};font-weight:700;text-decoration:underline;font-family:${FONT}'>${st.key}</a>`).join(' &nbsp;·&nbsp; ')}</td></tr></table>`\n      : '';\n    return `<tr><td bgcolor='${C.bodyBg}' style='background-color:${C.bodyBg};padding:14px 18px;${topBdr}border-right:1px solid ${C.border};border-bottom:1px solid ${C.border};border-left:4px solid ${barClr}'><table width='100%' cellpadding='0' cellspacing='0' style='margin-bottom:8px'><tr><td valign='middle' style='font-family:${FONT}'><a href='${JIRA_BROWSE}${a.key}' style='font-family:Courier New,Courier,monospace;font-size:12px;font-weight:700;color:${C.keyColor};text-decoration:none'>${a.key}</a>&nbsp;<span style='font-size:11px;font-weight:600;padding:2px 8px;color:${tagClr};border:1px solid ${tagBdr};font-family:${FONT}'>${tagTxt}</span></td><td align='right' valign='middle' style='font-size:11px;color:${C.text3};white-space:nowrap;padding-left:12px;font-family:${FONT}'>${a.fieldName}：${fmtDate(a.date)}</td></tr></table><p style='margin:0;font-size:14px;color:${C.text1};line-height:1.65;font-family:${FONT}'>${a.summary}</p>${subHtml}<p style='margin:10px 0 0;font-size:12px;color:${C.text2};line-height:1.6;font-family:${FONT}'>${hint}</p></td></tr>`;\n  };\n\n  const section = (title, subtitle, accentC, bgC, bdrC, items) =>\n    items.length === 0 ? '' : `<tr><td style='padding-bottom:24px'><table width='100%' cellpadding='0' cellspacing='0' style='border-collapse:collapse'><tr><td bgcolor='${bgC}' style='background-color:${bgC};padding:10px 16px;border-top:1px solid ${bdrC};border-right:1px solid ${bdrC};border-bottom:1px solid ${bdrC};border-left:4px solid ${accentC}'><span style='font-size:13px;font-weight:700;color:${accentC};font-family:${FONT}'>${title}（${items.length}）</span><br><span style='font-size:12px;color:${C.text2};font-family:${FONT}'>${subtitle}</span></td></tr>${items.map((a, i) => renderCard(a, i === 0)).join('')}</table></td></tr>`;\n\n  return `<!DOCTYPE html><html lang='zh-TW'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;font-family:${FONT}' bgcolor='${C.outerBg}'><table width='100%' cellpadding='0' cellspacing='0' bgcolor='${C.outerBg}' style='background-color:${C.outerBg}'><tr><td align='center' style='padding:28px 16px'><table width='620' cellpadding='0' cellspacing='0' style='max-width:620px;width:100%'><tr><td bgcolor='${C.headerBg}' style='background-color:${C.headerBg};padding:22px 28px'><table width='100%' cellpadding='0' cellspacing='0'><tr><td><p style='margin:0;font-size:18px;font-weight:700;color:#FFFFFF;font-family:${FONT}'>PM 工單每日提醒</p><p style='margin:5px 0 0;font-size:12px;color:rgba(255,255,255,0.7);font-family:${FONT}'>${dateStr}</p></td><td align='right' valign='middle'><span style='font-size:11px;color:rgba(255,255,255,0.9);border:1px solid rgba(255,255,255,0.4);padding:3px 10px;font-family:${FONT}'>共 ${alerts.length} 項提醒</span></td></tr></table></td></tr><tr><td bgcolor='${C.bodyBg}' style='background-color:${C.bodyBg};padding:28px 28px 8px;border:1px solid ${C.border};border-top:none'><p style='margin:0 0 24px;font-size:14px;color:${C.text1};line-height:1.75;font-family:${FONT}'>Hi <strong>${firstName}</strong>，以下是今日需要關注的工單，請優先處理逾期項目。</p><table width='100%' cellpadding='0' cellspacing='0'>${section('逾期警示', '已超過上線日期，請立即確認並更新工單', C.red, C.redBg, C.redBorder, overdue)}${section('即將到期', '距離截止日 2 天以內，請提前確認進度', C.amber, C.amberBg, C.amberBorder, upcoming)}<tr><td style='padding:16px 0 8px;border-top:1px solid ${C.border};text-align:center;font-size:11px;color:${C.text3};line-height:2;font-family:Helvetica,Arial,sans-serif'>此信由 n8n 自動發送 &nbsp;·&nbsp; <a href='https://ec-service.asus.com/jira' style='color:${C.text2};text-decoration:underline'>前往 Jira</a>${TEST_MODE ? `<br><span style='color:${C.amber}'>[ 測試模式：信件已重導向至 ${TEST_EMAIL} ]</span>` : ''}</td></tr></table></td></tr></table></td></tr></table></body></html>`;\n}\n\n// ─── 主邏輯 ───────────────────────────────────────────────\nconst alertMap = buildAlertMap(issues);\nconst dateStr = new Date().toLocaleDateString('zh-TW', { year:'numeric', month:'long', day:'numeric', weekday:'long' });\n\nconst results = [];\nfor (const [email, { name, alerts }] of Object.entries(alertMap)) {\n  if (!alerts.length) continue;\n  const to = TEST_MODE ? TEST_EMAIL : email;\n  results.push({ json: {\n    to,\n    subject: `📋 PM 工單提醒 ${new Date().toLocaleDateString('zh-TW')} — ${alerts.length} 項需關注`,\n    html: buildHtml(name, alerts, dateStr),\n    reporterEmail: email,\n    alertCount: alerts.length\n  }});\n}\n\nreturn results;"
      },
      "id": "5b6c7d8e-9f0a-1b2c-3d4e-5f6a7b8c9d0e",
      "name": "分析工單 & 組信",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "mimi2000.lady@gmail.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Gmail SMTP"
        }
      },
      "id": "6c7d8e9f-0a1b-2c3d-4e5f-6a7b8c9d0e1f",
      "name": "寄出提醒信",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "每天 06:00 觸發": {
      "main": [
        [{ "node": "查詢 Jira 工單", "type": "main", "index": 0 }]
      ]
    },
    "查詢 Jira 工單": {
      "main": [
        [{ "node": "分析工單 & 組信", "type": "main", "index": 0 }]
      ]
    },
    "分析工單 & 組信": {
      "main": [
        [{ "node": "寄出提醒信", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
